.side-drawer{
    height: 100%;
    background-color: white;
    box-shadow: 1 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 400px;
    transform: translateX(100%);
    z-index: 1;
    transition: all .3s ease-in-out;
}

.side-drawer.open {
    transform: translateX(0);
    position: fixed;
    z-index: 2;
}

.side-drawer ul{
    left: 2%;
    top: 4.5%;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer ul li{
    text-align: left;
}

.side-drawer a{
    color: #6D6D6D;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto", Helvetica, sans-serif;
}

.side-drawer li{
    margin: 0.5rem 0;
}

.side-drawer a:hover,
.side-drawer a:active{
    color: #fa923f;
}

@media(min-width: 869px){
    .side-drawer{
        display: none;
    }
}

.side-drawer__Darkness {
    position: absolute;
    left: 40%;
    top: 109%;
}