.blogArticle__main{
    margin: 0 auto;
    width: 80%;
    padding-top: 3rem;
    margin-top: -4rem;
}

.headings{
    color: rgba(0,0,0,0.8);
    margin-bottom: 2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 327px);
    grid-gap: 3rem;
    gap: 3rem;
    margin-bottom: -17rem;
    padding-bottom: 17rem;
}

.thumbnail{
    height: 217px;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__heading{
    color: rgba(0,0,0,0.8);
    padding-left: 6px;
    margin-bottom: -10px;
    padding-left: 12px;
    font-size: 15px;
}

.card__intro{
    font-size: 16px;
    padding-left: 14px;
    padding-right: 16px;
    color: rgb(97, 97, 97);
    height: 176px;
    line-height: 1.6;

}

.card-content{
    color: rgb(33, 33, 33);
    box-shadow: rgba(33, 33, 33, 0.14) 0px 0px 10px 0px;
    background: rgb(255, 255, 255);
    transition: all 0.7s ease 0s;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
}

.card-content:hover{
    box-shadow: rgba(33, 33, 33, 0.3) 0px 0px 24px 2px;
}
.img-card{
    height: 200px;
}

.tags__view{

}

.tags{
    display: flex;
    flex-wrap: flex;
    -webkit-box-align: center;
    height: 80px;
    align-items: center;
    overflow-y: hidden;
    margin-bottom: 0.5rem;
    margin-left: 1.6rem;
}

.tag{
    margin: 0px 1rem 1rem 0px;
    opacity: 1;
    padding: 0.3rem 1rem;
    border-radius: 50px;
    font-size: 18px;
    transition: all 0.3s ease 0s;
    color: rgb(255, 255, 255);
    height: 25px;
    cursor: pointer;
}

.tag:hover{
    opacity: 0.8;
}
.tagLink{
    text-decoration: none;
    color: white;
}

.dates__view {
    font-size: 0.8em;
    color: #212121;
    margin-left: 4%;
    margin-top: -19px;
    margin-bottom: 1rem;
    font-weight: 500;
}

@media(max-width: 768px){



    .blogArticle__main{
        width: 100%;
        margin: 0 auto;
        margin-top: -5rem;
        padding-top: 0;
    }
    
    .headings{
        color: rgba(0,0,0,0.8);
        margin-bottom: 2rem;
        margin-left: 1.4rem;
        padding-top: 5rem;
    }
    
    .cards{

        display: flex;
        grid-template-columns: none;
        grid-gap: 0;
        gap: 0;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 1.4rem;
        margin-bottom: -24rem;
        padding-bottom: 20rem;
    }
    
    .thumbnail{
        height: 100%;
        width: 116px;
    }
    
    .thumbnail img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .card__heading{
        color: rgba(0,0,0,0.8);
        padding-left: 6px;
        margin-bottom: -10px;
        padding-left: 11px;
        font-size: 10px;
        padding-top: 18px;
    }
    
    .card__intro{
        font-size: 12pt;
        padding-left: 14px;
        padding-right: 16px;
        color: rgb(97, 97, 97);
        height: auto;
    
    }
    
    .card-content{
        color: rgb(33, 33, 33);
        box-shadow: rgba(33, 33, 33, 0.14) 0px 0px 10px 0px;
        background: rgb(255, 255, 255);
        transition: all 0.7s ease 0s;
        border-radius: 0.2rem;
        overflow: hidden;
        margin-bottom: 2rem;
        align-items: center;
        display: flex;
        width: 100%;
        height: 160px;
    }
    .img-card{
        height: 160px;
        margin-right: 0px;
    }

    .mov__view{
        width: 100%;
        margin-top: -15px;
    }
    
    .tags{
        display: flex;
        flex-wrap: flex;
        -webkit-box-align: center;
        height: 66px;
        align-items: center;
        overflow-y: hidden;
        margin-bottom: 0.5rem;
        margin-left: 0;
        padding-left: 15px;
    }
    
    .tag{
        margin: 0px 1rem 1rem 0px;
        opacity: 1;
        padding: 0.2rem 1rem;
        border-radius: 50px;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        color: rgb(255, 255, 255);
        height: 23px;
        cursor: pointer;
    }


/*
        .tag{
        margin: 0px 1rem 1rem 0px;
        opacity: 1;
        padding: 0.3rem 1rem;
        border-radius: 50px;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        color: rgb(255, 255, 255);
        height: 17px;
        cursor: pointer;
    }
*/
    
    .tag:hover{
        opacity: 0.8;
    }
    .tagLink{
        text-decoration: none;
        color: white;
    }

    .dates__view {
        font-size: 0.79em;
        color: #212121;
        margin-left: 4%;
        margin-top: -34px;
        margin-bottom: 1rem;
        font-weight: 500;
    }

}

@media(max-width: 320px){ 

    .card__heading{
        color: rgba(0,0,0,0.8);
        padding-left: 6px;
        margin-bottom: -10px;
        padding-left: 11px;
        font-size: 8px !important;
        padding-top: 17px !important;
    }
    .dates__view {
        font-size: 0.79em;
        color: #212121;
        margin-left: 4%;
        margin-top: -34px;
        margin-bottom: 0rem !important;
        font-weight: 500;
    }

    .card__intro{
        font-size: 7pt !important;
        padding-left: 14px;
        padding-right: 16px;
        color: rgb(97, 97, 97);
        height: auto;
    
    }

 }



@media(max-width: 360px){ 

    .dates__view {
        font-size: 0.79em;
        color: #212121;
        margin-left: 4%;
        margin-top: -34px !important;
        margin-bottom: 1rem !important;
        font-weight: 500;
    }

    .card__intro{
        font-size: 10pt !important;
        padding-left: 14px;
        margin-bottom: 1rem !important;
        padding-right: 16px;
        color: rgb(97, 97, 97);
        height: auto;
    
    }

    .tags{
        display: flex;
        flex-wrap: flex;
        -webkit-box-align: center;
        height: 80px !important;
        align-items: center;
        overflow-y: hidden;
        margin-bottom: 0.5rem !important;
        margin-left: 0 !important;
        padding-left: 10px !important;
    }

    .tag{
        margin: 0px 0.3rem 1rem 0px;
        opacity: 1;
        padding: 0.1rem 0.8rem !important;
        border-radius: 50px;
        font-size: 13px !important;
        transition: all 0.3s ease 0s;
        color: rgb(255, 255, 255);
        height: 21px !important;
        cursor: pointer;
    }


}


@media(max-width: 375px){ 

    .card__heading{
        color: rgba(0,0,0,0.8);
        padding-left: 6px;
        margin-bottom: -10px;
        padding-left: 11px;
        font-size: 8px !important;
        padding-top: 17px !important;
    }
    .tags{
        display: flex;
        flex-wrap: flex;
        -webkit-box-align: center;
        height: 99px;
        align-items: center;
        overflow-y: hidden;
        margin-bottom: 0.5rem !important;
        margin-left: 0 !important;
        padding-left: 10px !important;
    }
    .dates__view {
        font-size: 0.79em;
        color: #212121;
        margin-left: 4%;
        margin-top: -34px;
        margin-bottom: 0rem !important;
        font-weight: 500;
    }

    .card__intro{
        font-size: 7pt !important;
        padding-left: 14px;
        padding-right: 16px;
        color: rgb(97, 97, 97);
        height: auto;
    
    }

 }



@media only screen 
and (device-width: 414px) 
and (device-height: 896px)
and (-webkit-device-pixel-ratio: 2) { 

    .dates__view {
        margin-top: -27px;
        margin-bottom: 0.5rem;
    }

    .tag{
        margin: 0px 1rem 1rem 0px;
        opacity: 1;
        padding: 0.28rem 1rem;
        border-radius: 50px;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        color: rgb(255, 255, 255);
        height: 20px;
        cursor: pointer;
    }

}