<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main3.css">
</head>
<body>

<div class="gifbox">
<div class="main-gif-box">

<div class="container">
    <div class="lamb a a-3"></div>
    <div class="chandelier">
      <div class="chandelier-case a a-3"></div>
      <div class="chandelier-details">
        <div class="chandelier-detail a a-2"></div>
        <div class="chandelier-detail a a-2"></div>
        <div class="chandelier-detail a a-2"></div>
        <div class="chandelier-detail a a-2"></div>
        <div class="line a"></div>
      </div>
    </div>
    <div class="container-back cont a-4"></div>
    <div class="container-wrapper cont a-4">
      <div class="way"></div>
      <div class="moon"></div>
      <div class="star-container">
        <div class="stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
        <div class="stars">
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
          <div class="star"></div>
        </div>
      </div>
      <div class="night-wrapper">
        <div class="night">
          <div class="train">
            <div class="train-link"></div>
            <div class="train-coach">
              <div class="train-mid">
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
              </div>
              <div class="door"></div>
              <div class="rollers">
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
              </div>
            </div>
          </div>
          <div class="train">
            <div class="train-link"></div>
            <div class="train-coach">
              <div class="train-mid">
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
              </div>
              <div class="door"></div>
              <div class="rollers">
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="night">
          <div class="train">
            <div class="train-link"></div>
            <div class="train-coach">
              <div class="train-mid">
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
              </div>
              <div class="door"></div>
              <div class="rollers">
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
              </div>
            </div>
          </div>
          <div class="train">
            <div class="train-link"></div>
            <div class="train-coach">
              <div class="train-mid">
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
                <div class="window">
                  <div class="window-line"></div>
                </div>
              </div>
              <div class="door"></div>
              <div class="rollers">
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
                <div class="roller"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>   

  </div>
</div>

</body>
</html>